{% extends "layouts/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h2>Materiais esportivos cadastrados</h2>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
            <a href="{% url 'materials.create' %}" class="btn btn-success">Criar novo</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Quantidade disponível</th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for material in materials %}
            <tr>
                <th scope="row">{{ material.id }}</th>
                <td>{{ material.name }}</td>
                <td>{{ material.qnt }}</td>
                <td>{{ material.qnt_available }}</td>
                <td><a class="btn btn-sm btn-primary" href="{% url 'materials.edit' material.id %}"><i class="bi bi-pencil"></i></a><a class="btn btn-sm btn-primary ms-1" href="{% url 'materials.delete' material.id %}"><i class="bi bi-trash"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}