{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block styles %}
    <link href="{% static 'assets/css/datepicker.min.css' %}" rel="stylesheet" type="text/css" />
    <style>
        button.btn.btn-outline-secondary {
            height: 100%;
        }
    </style>
{% endblock %}
{% block content %}
<!-- Container fluid  -->

<div class="container">
    <!-- RECENT SALES -->
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="white-box">
                <h3>Novo empréstimo</h3>
                <form method="post" id="form">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button type="submit" class="btn btn-primary mt-3" style="width: 100px;">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Container fluid  -->
{% endblock content %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{% static 'assets/js/datepicker.min.js' %}" type="text/javascript"></script>

<script>
    $('#id_returned_date').datepicker({
        uiLibrary: 'bootstrap4',
        format: 'dd/mm/yyyy'

    });
</script>
{% endblock %}