{% extends "layouts/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h2>Empréstimos realizados</h2>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
            <a href="{% url 'loans.create' %}" class="btn btn-primary">Criar novo</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Beneficiado</th>
                <th scope="col">Material</th>
                <th scope="col">Data de empréstimo</th>                
                <th scope="col">Devolvido?</th>
                <th scope="col">Data de devolução</th>                
                <th scope="col">Responsável</th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for loan in loans %}
            <tr>
                <th scope="row">{{ loan.id }}</th>
                <td>{{ loan.beneficiary }}</td>
                <td>{{ loan.material }}</td>
                <td>{{ loan.loaned_date | date:"d/m/Y" }}</td>
                {% if loan.returned %}
                    <td>Sim</td>
                    <td>{{ loan.returned_date | date:"d/m/Y" }}</td>

                {% else %}
                    <td>Não</td>
                    <td></td>
                {% endif %}
                <td>{{ loan.responsible }}</td>
                <td><a class="btn btn-sm btn-primary" href="{% url 'loans.edit' loan.id %}"><i class="bi bi-pencil"></i></a><a class="btn btn-sm btn-primary ms-1" href="{% url 'loans.delete' loan.id %}"><i class="bi bi-trash"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}